In [17]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from matplotlib import dates
import plotly.graph_objs as go
import plotly.offline as pyoff

#import Keras
from tensorflow.keras.optimizers import Adam 
from keras.callbacks import EarlyStopping
from keras.utils import np_utils
from sklearn.model_selection import KFold, cross_val_score, train_test_split
import statsmodels.formula.api as smf

In [24]:
df = pd.read_excel('itService.xlsx')
df.drop('YY', axis=1, inplace=True)
df.drop('MM', axis=1, inplace=True)

In [25]:
def addMonthinDataSet(df, yymm):
    df= df.append({'YYMM' : yymm , 'CNT' : 0} , ignore_index=True)  
    df['YYMM'] = df['YYMM'].astype(str)
    df['YYMM'] = df['YYMM'] + "01"
    df['YYMM'] = pd.to_datetime(df['YYMM'])  
    return df

In [26]:
df_add = addMonthinDataSet(df, '202101')
df_add

          YYMM  CNT
0   2013-05-01   14
1   2013-06-01   70
2   2013-07-01   25
3   2013-08-01   15
4   2013-09-01   13
..         ...  ...
100 2021-09-01  107
101 2021-10-01  137
102 2021-11-01  143
103 2021-12-01  144
104 2021-01-01    0

[105 rows x 2 columns]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_23544/322303116.py, line 1)